@import '../../shared/common-styles.scss';

.route {
  margin-bottom: 40px;
}

.carousel {
  margin-top: 20px;
}

.zoomImgContainer {
  z-index: 2;
  position: fixed;
  padding: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  img {
    margin: 0 auto;
    cursor: zoom-out;
    box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.16),
                0 6px 12px hsla(0, 0%, 0%, 0.32);
    &:focus {
      outline: none;
    }
  }

}

.gone {
  display: none;
}