<div id="portfolio-link" [class.page-transition]="transitionService.isTransitioning()">
  <div class="container portfolio">
    <h2 id="subtitle">Professional Projects</h2>
    <div class="divider"></div>
    <div class="project-row">
      <div class="card">
        <a href="#">
          <div class="image-container ccaw">
            <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1479232629/ccawlogomod_zugyah.png" alt="ccaw project" id="ccaw">
          </div>
          <div class="caption">
            <h4 class="text-center">Conference Management</h4>
            <p class="text-center">Conference management application built to manage speakers and scheduling
              for non-profit organization.
            </p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#">
          <div class="image-container shelley">
            <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1470260927/logogood_wsyt4q.png" alt="shelley site" id="shelley">
          </div>
          <div class="caption">
              <h4 class="text-center">Shelley Pier Counseling</h4>
              <p class="text-center">Website for personal counseling business.</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#">
          <div class="image-container site">
            <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1468784855/botarm_hlprs9.png" alt="portfolio app" id="portfolio-app">
          </div>
          <div class="caption">
              <h4 class="text-center">Goldenbot Studios</h4>
              <p class="text-center">My personal portfolio-app website.</p>
          </div>
        </a>
      </div>
    </div>
    <h2 id="subtitle">Hobby Projects</h2>
    <div class="divider"></div>
    <div class="project-row">
        <div class="card">
          <a href="#">
            <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
            <div class="caption">
              <h4 class="text-center">Project 4</h4>
              <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
            <div class="caption">
              <h4 class="text-center">Project 5</h4>
              <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
            <div class="caption">
              <h4 class="text-center">Project 6</h4>
              <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
            </div>
          </a>
        </div>
    </div>
  </div>
</div>