@import '../common-styles.scss';

.fa-circle-o, .fa-circle {
  color: hsl(0, 0%, 27%);
  cursor: pointer;
  margin: 5px;
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.image-container {
  width: 100%;
  cursor: zoom-in;
}